## Intro to Dataframes

In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12]], columns=["A", "B", "C"], index=["x","y","z",'zz'])

In [5]:
df.head()

     A   B   C
x    1   2   3
y    4   5   6
z    7   8   9
zz  10  11  12

In [6]:
df.tail(2)

     A   B   C
z    7   8   9
zz  10  11  12

In [7]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [8]:
df.index.tolist()

['x', 'y', 'z', 'zz']

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, x to zz
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      int64
 1   B       4 non-null      int64
 2   C       4 non-null      int64
dtypes: int64(3)
memory usage: 128.0+ bytes

In [10]:
df.describe()

               A          B          C
count   4.000000   4.000000   4.000000
mean    5.500000   6.500000   7.500000
std     3.872983   3.872983   3.872983
min     1.000000   2.000000   3.000000
25%     3.250000   4.250000   5.250000
50%     5.500000   6.500000   7.500000
75%     7.750000   8.750000   9.750000
max    10.000000  11.000000  12.000000

In [11]:
df.nunique()

A    4
B    4
C    4
dtype: int64

In [12]:
df['A'].unique()

array([ 1,  4,  7, 10])

In [13]:
df.shape

(4, 3)

In [14]:
df.size

12

In [15]:
df

     A   B   C
x    1   2   3
y    4   5   6
z    7   8   9
zz  10  11  12

## Loading in Dataframes from Files

In [16]:
coffee = pd.read_csv('./warmup-data/coffee.csv')

In [17]:
results = pd.read_parquet('./data/results.parquet')
bios = pd.read_csv('./data/bios.csv')

In [18]:
## To read an excel spreadsheet
olympics_data = pd.read_excel('./data/olympics-data.xlsx', sheet_name="results")

## Accessing Data with Pandas

In [19]:
print(coffee)

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [20]:
display(coffee)

          Day Coffee Type  Units Sold
0      Monday    Espresso          25
1      Monday       Latte          15
2     Tuesday    Espresso          30
3     Tuesday       Latte          20
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [21]:
coffee.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [22]:
coffee.tail(10)

          Day Coffee Type  Units Sold
4   Wednesday    Espresso          35
5   Wednesday       Latte          25
6    Thursday    Espresso          40
7    Thursday       Latte          30
8      Friday    Espresso          45
9      Friday       Latte          35
10   Saturday    Espresso          45
11   Saturday       Latte          35
12     Sunday    Espresso          45
13     Sunday       Latte          35

In [23]:
coffee.sample(5) # Pass in random_state to make deterministic

          Day Coffee Type  Units Sold
5   Wednesday       Latte          25
11   Saturday       Latte          35
9      Friday       Latte          35
2     Tuesday    Espresso          30
3     Tuesday       Latte          20

In [24]:
# loc
# coffee.loc[Rows, Columns]

coffee.loc[0]

Day              Monday
Coffee Type    Espresso
Units Sold           25
Name: 0, dtype: object

In [25]:
coffee.loc[[0,1,5]]

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
5  Wednesday       Latte          25

In [26]:
coffee.loc[5:9, ["Day", "Units Sold"]]

         Day  Units Sold
5  Wednesday          25
6   Thursday          40
7   Thursday          30
8     Friday          45
9     Friday          35

#### iloc

In [27]:
coffee.iloc[:, [0,2]]

          Day  Units Sold
0      Monday          25
1      Monday          15
2     Tuesday          30
3     Tuesday          20
4   Wednesday          35
5   Wednesday          25
6    Thursday          40
7    Thursday          30
8      Friday          45
9      Friday          35
10   Saturday          45
11   Saturday          35
12     Sunday          45
13     Sunday          35

#### Other Stuff

In [28]:
coffee.index = coffee["Day"]

In [29]:
coffee.loc["Monday":"Wednesday"]

                 Day Coffee Type  Units Sold
Day
Monday        Monday    Espresso          25
Monday        Monday       Latte          15
Tuesday      Tuesday    Espresso          30
Tuesday      Tuesday       Latte          20
Wednesday  Wednesday    Espresso          35
Wednesday  Wednesday       Latte          25

In [30]:
coffee = pd.read_csv('./warmup-data/coffee.csv')

#### Setting Values

In [31]:
coffee.loc[1:3, "Units Sold"] = 10

#### Optimized way to get single values (.at & .iat)

In [32]:
coffee.at[0,"Units Sold"]

np.int64(25)

In [33]:
coffee.iat[3,1]

'Latte'

#### Getting Columns

In [34]:
coffee.Day

0        Monday
1        Monday
2       Tuesday
3       Tuesday
4     Wednesday
5     Wednesday
6      Thursday
7      Thursday
8        Friday
9        Friday
10     Saturday
11     Saturday
12       Sunday
13       Sunday
Name: Day, dtype: object

In [35]:
coffee["Day"]

0        Monday
1        Monday
2       Tuesday
3       Tuesday
4     Wednesday
5     Wednesday
6      Thursday
7      Thursday
8        Friday
9        Friday
10     Saturday
11     Saturday
12       Sunday
13       Sunday
Name: Day, dtype: object

#### Sort Values

In [36]:
coffee.sort_values(["Units Sold"], ascending=False)

          Day Coffee Type  Units Sold
8      Friday    Espresso          45
10   Saturday    Espresso          45
12     Sunday    Espresso          45
6    Thursday    Espresso          40
4   Wednesday    Espresso          35
9      Friday       Latte          35
11   Saturday       Latte          35
13     Sunday       Latte          35
7    Thursday       Latte          30
0      Monday    Espresso          25
5   Wednesday       Latte          25
1      Monday       Latte          10
2     Tuesday    Espresso          10
3     Tuesday       Latte          10

In [37]:
coffee.sort_values(["Units Sold", "Coffee Type"], ascending=[0,1])

          Day Coffee Type  Units Sold
8      Friday    Espresso          45
10   Saturday    Espresso          45
12     Sunday    Espresso          45
6    Thursday    Espresso          40
4   Wednesday    Espresso          35
9      Friday       Latte          35
11   Saturday       Latte          35
13     Sunday       Latte          35
7    Thursday       Latte          30
0      Monday    Espresso          25
5   Wednesday       Latte          25
2     Tuesday    Espresso          10
1      Monday       Latte          10
3     Tuesday       Latte          10

#### Iterate over dataframe with for loop

In [ ]:
for index, row in coffee.iterrows():
    print(index)
    print(row)
    print("Coffee Type of Row:", row["Coffee Type"])

## Filtering Data

In [ ]:
bios.head()

In [ ]:
bios.loc[bios["height_cm"] > 215]

In [ ]:
bios.loc[bios["height_cm"] > 215, ["name", "height_cm"]]

#### Short-hand syntax (without .loc)

In [ ]:
bios[bios['height_cm'] > 215][["name","height_cm"]]

#### Multiple filter conditions

In [ ]:
bios[(bios['height_cm'] > 215) & (bios['born_country']=='USA')]

#### Filter by string conditions

In [ ]:
bios[bios['name'].str.contains("keith", case=False)]

In [ ]:
# Regex syntax
bios[bios['name'].str.contains('keith|patrick', case=False)]

In [ ]:
# Other cool regex filters

# Find athletes born in cities that start with a vowel:
vowel_cities = bios[bios['born_city'].str.contains(r'^[AEIOUaeiou]', na=False)]

# Find athletes with names that contain exactly two vowels:
two_vowels = bios[bios['name'].str.contains(r'^[^AEIOUaeiou]*[AEIOUaeiou][^AEIOUaeiou]*[AEIOUaeiou][^AEIOUaeiou]*$', na=False)]

# Find athletes with names that have repeated consecutive letters (e.g., "Aaron", "Emmett"):
repeated_letters = bios[bios['name'].str.contains(r'(.)\1', na=False)]

# Find athletes with names ending in 'son' or 'sen':
son_sen_names = bios[bios['name'].str.contains(r'son$|sen$', case=False, na=False)]

# Find athletes born in a year starting with '19':
born_19xx = bios[bios['born_date'].str.contains(r'^19', na=False)]

# Find athletes with names that do not contain any vowels:
no_vowels = bios[bios['name'].str.contains(r'^[^AEIOUaeiou]*$', na=False)]

# Find athletes whose names contain a hyphen or an apostrophe:
hyphen_apostrophe = bios[bios['name'].str.contains(r"[-']", na=False)]

# Find athletes with names that start and end with the same letter:
start_end_same = bios[bios['name'].str.contains(r'^(.).*\1$', na=False, case=False)]

# Find athletes with a born_city that has exactly 7 characters:
city_seven_chars = bios[bios['born_city'].str.contains(r'^.{7}$', na=False)]

# Find athletes with names containing three or more vowels:
three_or_more_vowels = bios[bios['name'].str.contains(r'([AEIOUaeiou].*){3,}', na=False)]

In [ ]:
# Don't use regex search (exact match)
bios[bios['name'].str.contains('keith|patrick', case=False, regex=False)]

In [ ]:
## isin method & startswith
bios[bios['born_country'].isin(["USA", "FRA", "GBR"]) & (bios['name'].str.startswith("Keith"))]

In [ ]:
print("Make sure to smash that like button & subscribe tehehehe")

#### Query functions

In [ ]:
bios.query('born_country == "USA" and born_city == "Seattle"')

## Adding / Removing Columns

In [ ]:
coffee.head()

In [ ]:
coffee['price'] = 4.99

In [ ]:
coffee['new_price'] = np.where(coffee['Coffee Type']=='Espresso', 3.99, 5.99)

In [ ]:
coffee

In [ ]:
coffee.drop(columns=['price'], inplace=True)

# the below would also have worked
# coffee = coffee.drop(columns=['price'])

In [ ]:
coffee = coffee[['Day', 'Coffee Type', 'Units Sold', 'new_price']]

In [ ]:
coffee['revenue'] = coffee['Units Sold'] * coffee['new_price']

In [ ]:
coffee

In [ ]:
coffee.rename(columns={'new_price': 'price'}, inplace=True)

In [ ]:
bios_new = bios.copy()

In [ ]:
bios_new['first_name'] = bios_new['name'].str.split(' ').str[0]

In [ ]:
bios_new.query('first_name == "Keith"')

In [ ]:
bios_new['born_datetime'] = pd.to_datetime(bios_new['born_date'])

In [ ]:
bios_new['born_year'] = bios_new['born_datetime'].dt.year

In [ ]:
bios_new[['name','born_year']]

In [ ]:
bios_new.to_csv('./data/bios_new.csv', index=False)

In [ ]:
bios['height_category'] = bios['height_cm'].apply(lambda x: 'Short' if x < 165 else ('Average' if x < 185 else 'Tall'))

In [ ]:
def categorize_athlete(row):
    if row['height_cm'] < 175 and row['weight_kg'] < 70:
        return 'Lightweight'
    elif row['height_cm'] < 185 or row['weight_kg'] <= 80:
        return 'Middleweight'
    
    else:
        return 'Heavyweight'
    
bios['Category'] = bios.apply(categorize_athlete, axis=1)

In [ ]:
bios.head()

## Merging & Concatenating Data

In [ ]:
nocs = pd.read_csv('./data/noc_regions.csv')

In [ ]:
bios_new = pd.merge(bios, nocs, left_on='born_country', right_on='NOC', how='left')

In [ ]:
bios_new.rename(columns={'region': 'born_country_full'}, inplace=True)

In [ ]:
usa = bios[bios['born_country']=='USA'].copy()
gbr = bios[bios['born_country']=='GBR'].copy()

In [ ]:
new_df = pd.concat([usa,gbr])

In [ ]:
new_df.tail()

In [ ]:
combined_df = pd.merge(results, bios, on='athlete_id', how='left')

In [ ]:
combined_df.head()

## Handling Null Values

In [ ]:
coffee.loc[[2,3], 'Units Sold'] = np.nan

In [ ]:
# Make sure to set this to your Units Sold column if you want these changes to stick
coffee['Units Sold'].fillna(coffee['Units Sold'].mean())

In [ ]:
# coffee['Units Sold'] = coffee['Units Sold'].interpolate()
coffee['Units Sold'].interpolate()

In [ ]:
coffee.dropna(subset=['Units Sold']) # Use inplace=True if you want to update the coffee df

In [ ]:
coffee[coffee['Units Sold'].notna()]

In [ ]:
coffee

## Aggregating Data

In [ ]:
bios.head()

In [ ]:
bios['born_city'].value_counts()

In [ ]:
bios[bios['born_country']=='USA']['born_region'].value_counts().head(10)

In [ ]:
bios[bios['born_country']=='USA']['born_region'].value_counts().tail(25)

#### Groupby function in Pandas

In [ ]:
coffee.groupby(['Coffee Type'])['Units Sold'].sum()

In [ ]:
coffee.groupby(['Coffee Type'])['Units Sold'].mean()

In [ ]:
coffee.groupby(['Coffee Type', 'Day']).agg({'Units Sold': 'sum', 'price': 'mean'})

#### Pivot Tables

In [ ]:
pivot = coffee.pivot(columns='Coffee Type', index='Day', values='revenue')

In [ ]:
pivot.sum()

In [ ]:
pivot.sum(axis=1)

#### Using datetime with Groupby

In [ ]:
bios['born_date'] = pd.to_datetime(bios['born_date'])
bios['month_born'] = bios['born_date'].dt.month
bios['year_born'] = bios['born_date'].dt.year
bios.groupby([bios['year_born'],bios['month_born']])['name'].count().reset_index().sort_values('name', ascending=False)

## Advanced Functionality

In [ ]:
# shift() rank() cumsum() rolling()

In [ ]:
latte = coffee[coffee['Coffee Type']=="Latte"].copy()
latte['3day'] = latte['Units Sold'].rolling(3).sum()

In [ ]:
latte

## Advanced Functionality (cont.)
These two libraries didn't actually make it into final video

In [ ]:
!pip install pyjanitor

In [ ]:
import janitor

coffee.clean_names()

In [ ]:
!pip install skimpy

In [ ]:
from skimpy import skim

skim(results)

In [ ]:
coffee.info()

## New Functionality

In [ ]:
results_numpy = pd.read_csv('./data/results.csv')
results_arrow = pd.read_csv('./data/results.csv', engine='pyarrow', dtype_backend='pyarrow')

In [ ]:
results_numpy.info()

In [ ]:
results_arrow.info()

In [ ]:
filtered_bios = bios[(bios['born_region'] == 'New Hampshire') | (bios['born_city'] == 'San Francisco')]

bios.head()

In [ ]:
import pandas as pd

# Creating a DataFrame
data = {
    'Date': ['2024-05-01', '2024-05-01', '2024-05-01', '2024-05-02', '2024-05-02', '2024-05-03', '2024-05-03', '2024-05-03'],
    'Item': ['Apple', 'Banana', 'Orange', 'Apple', 'Banana', 'Orange', 'Apple', 'Orange'],
    'Units Sold': [30, 21, 15, 40, 34, 20, 45, 25],
    'Price Per Unit': [1.0, 0.5, 0.75, 1.0, 0.5, 0.75, 1.0, 0.75],
    'Salesperson': ['John', 'John', 'John', 'Alice', 'Alice', 'John', 'Alice', 'John']
}

df = pd.DataFrame(data)

# Display the DataFrame
df

In [ ]:
pivot_table = pd.pivot_table(df, values='Units Sold', index='Date', columns='Item', aggfunc='sum')
pivot_table

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Assuming your DataFrame is named 'bios' and already loaded
# First, filter out rows where the height_cm data is missing
bios_filtered = bios.dropna(subset=['height_cm'])

# Plotting the histogram
plt.figure(figsize=(10, 6))
plt.hist(bios_filtered['height_cm'], bins=20, color='blue', edgecolor='black')

plt.title('Distribution of Athlete Heights in Olympics')
plt.xlabel('Height in cm')
plt.ylabel('Number of Athletes')
plt.grid(True)

# Using a logarithmic scale for the y-axis if the data spread is wide
plt.yscale('log')

plt.show()

## What Next???

Check out some of my other tutorials:
- [Cleaning Data w/ Pandas](https://www.youtube.com/live/oad9tVEsfI0?si=qnDOg9BSRFxcP5gZ)
- [Solving 100 Python Pandas Problems](https://youtu.be/i7v2m-ebXB4?si=VSJHnZryqMv8GW54)
- [Real-world Data Analsys Problems w/ Python Pandas](https://youtu.be/eMOA1pPVUc4)

Platforms to Try
- [Stratascratch](https://stratascratch.com/?via=keith)
- [Analyst Builder](https://www.analystbuilder.com/?via=keith)